BODY{
  padding-left: 10px;
  font-family: arial, sans-serif;
  color: #555;
}
H1, H2, H3, H4, H5, H6 {
  margin: 0;
  padding: 0;
}
H3{
  padding-top: 10px;
}
PRE {
  margin: 0;
}
#codeInput {
  width: 600px;
  height: 200px;
}
#inputPane {
  float: left;
  margin-right: 10px;
  width: 600px;
}
#outputPane {
  float: left;
  width: 600px;
}
#json {
  border: 1px solid #CCC;
  overflow: scroll;
  height: 200px;
  width: 550px;
}
#astPane {
  clear: left;
}
#ast {
  width: 1210px;
  height: 2000px;
  border: 1px solid #CCC;
}
